@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto:400,700');
* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  background-color: #131217;
  color: #e2e2e2;
}
html,
body {
  margin: 0;
}
a {
  color: #e2e2e2;
  text-decoration: none;
}
div.me {
  position: absolute;
  left: 10px;
  top: 10px;
}
div.me a {
  text-decoration: underline;
}
div.me,
div.me a {
  color: #cecece;
}
header {
  background-color: #e2e2e2;
  padding: 80px;
  padding-bottom: 120px;
  position: relative;
}
header * {
  color: #131217;
}
header h1,
header h2 {
  text-align: center;
  margin: 0;
}
header h1 {
  font-size: 70pt;
  letter-spacing: 5px;
}
header h2 {
  margin-top: -10px;
}
header h2 div.links {
  font-weight: normal;
  display: inline-block;
}
header h2 div.links a {
  color: #686868;
}
header h2 div.links a::after {
  content: " |";
  color: #a9a9a9;
}
header h2 div.links a:last-child::after {
  content: "";
}
header table {
  width: 100%;
  height: 70%;
}
header td.features h3,
header td.features h4 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 23pt;
}
header td.features h4 {
  margin-top: 50px;
  font-size: 19pt;
}
header td.features ul {
  padding-left: 20px;
  list-style: none;
}
header td.features li {
  font-size: 16pt;
  margin-bottom: 10px;
}
header td.example * {
  user-select: none;
}
header td.example pre {
  cursor: pointer;
  padding: 35px;
  font-size: 15pt;
  position: relative;
  width: 650px;
  float: right;
}
header td.example code {
  font-family: "Inconsolata", monospace;
}
header svg {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  fill: #131217;
}
div.content {
  width: 800px;
  margin: auto;
  margin-bottom: 200px;
  left: 0;
  right: 0;
}
div.content h1 {
  margin-top: 0;
}
div.content h2,
div.content h3 {
  margin-top: 40px;
}
div.content img {
  width: 100%;
}
div.content p,
div.content table,
div.content ul {
  color: #959595;
}
div.content code {
  overflow-x: auto;
  color: #c9c9c9;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #131217;
  font-family: "Inconsolata", monospace;
  font-size: 12pt;
}
div.content pre code {
  font-size: 13pt;
}
div.content pre {
  width: 100%;
  overflow: auto;
}
div.content table {
  width: 100%;
}
div.content table th {
  text-align: left;
}
@media (max-height: 900px) {
  header table {
    display: none;
  }
}
@media (max-width: 850px) {
  div.content {
    width: 100%;
    padding: 50px;
  }
  div.content img {
    display: none;
  }
  header td.features h3 {
    margin-top: 0;
    font-size: 16pt;
  }
  header td.features h4 {
    font-size: 14pt;
  }
  header td.features li {
    font-size: 12pt;
    margin-bottom: 10px;
  }
  header td.example {
    display: none;
  }
  header table {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 1150px) {
  td.example {
    display: none;
  }
}
@media (min-width: 850px) {
  header {
    width: 100vw;
    height: calc(100vh - 200px);
    margin-bottom: 250px;
  }
  header h1 {
    font-size: 100pt;
  }
}
